body{
    margin: 0;
}

/*footer begyndelse*/
/*footer - overskrift facven*/
.footer-overskrift { 
    color:#FFF;
}

/*footer - baggrund*/
footer { 
    background-color: black; 
    padding:-1vw 0vw 1vw 0vw;
    margin-block-start: 3rem;
    position: absolute;
    padding-bottom: 1vw;
    width: 100%;
}

/*footer - row*/
.row{
    display: flex;
    flex-wrap: wrap;
    
}

/*footer - overskrift indstillinger*/
.h1-txt { 
    padding-top:0.75vw ; 
    margin-bottom:1vw ;
    margin-left: 15vw;
    font-family: rama-gothic-m, sans-serif;
    font-size: 4vw;
}

/*footer - brødtekst indstillinger*/
footer p { 
    font-size:1.5vw; 
    color:white; 
    padding-bottom:0vw; 
    margin-bottom:0.4vw;
    font-family: 'Carme', sans-serif ;
    margin-left: 10vw;
}

/*footer - kontakt os indstillinger*/
.kontakt_os{
    margin-left: 5vw;
}

/*footer - om os indstillinger*/
.p-text-omos { 
    padding-bottom:0.75vw ;
    text-align: center;
    width: 100%;
    margin-left: 5.2vw;
    
}

/*footer - kontakt os indstillinger*/
.p-text-kontaktos{
    padding-bottom:0.75vw ;
    text-align: center;
    margin-left: 6.75vw;
}

/*footer - links til genveje*/
.genveje {
    margin-left: 13.5vw;
    margin-bottom: -2vw;
}

.footer_ul_genveje { 
    margin:2vw ; 
    list-style-type:none ; 
    font-size:1.5vw; 
    padding:0vw 0vw 1vw 0vw ; 
    text-decoration: none;
    margin-left: 8.5vw;
    text-align: center;
    margin-top: 2vw;
    font-family: 'Carme', sans-serif ;
}

.footer_ul_genveje li {
    padding:1.5vw 0vw 0vw 0vw;
}
.footer_ul_genveje li a{ 
    color:white;
}

/*footer - følg os indstillinger*/
.follow_us{
    margin-top: -10vw;
    margin-left: 13.9vw;
}

/*footer - ikon til facebooksiden*/
.footer_img{
    height: 2.9835vw;
    width: 3.0005vw;
    margin-left: 13.5vw;
}


/*footer - credit "created and hosted by Træksmeden ApS ©"*/
.credit-info{
    border-top: 0.1vw solid #FFF;
    margin-top: 1vw;
}

.credit-txt{
    font-family: 'Carme', sans-serif;
    font-size: 1vw;
    font-style: italic;
    text-align: center;
    margin-left: 2vw;
}

/*footer - media queries - mobile*/
@media screen and (max-width: 600px) {
    .h1-txt{
        font-size:8vw;
        font-family: rama-gothic-m, sans-serif;
        margin-left: 18vw;
    }

    .footer p{
        font-size: 2.5vw;
        font-family: 'Carme', sans-serif ;
    }

    .genveje{
        margin-left: 15vw;
    }

    .footer_ul_genveje{
        font-size: 2.5vw;
        margin-left: 8vw;
        font-family: 'Carme', sans-serif ;
    }

    .footer_ul_genveje li {
        padding:2.5vw 0vw 1vw 0vw  ;
    }

    .follow_us{
            margin-top: 4vw;
            margin-left: 24vw;
    }

    .footer_img{
        height: 12.9835vw;
        width: 13.0005vw;
        margin-left: 15vw;
    }
  }
